@import url(../common/common.css);
@import url(../common/hearder.css);
@import url(../common/footer.css);
@import url(../common/nav.css);
@import url(../common/breadcrumb.css);
@import url(../common/asideNav.css);
@import url(../common/recommend.css);
@import url(../common/paging.css);

.mainwrap .right .main .option{
  width:auto;
  height:1rem;
  background-color:#efefef;
  border:1px solid #e7e7e7;
  margin-top:0.2rem;
}
.mainwrap .right .main .option .left{
  width:1.8rem;
  height:1rem;
  line-height: 0.5rem;
  background-color:#efefef;
  float:left;
  /*padding-top:0.1rem;*/
}
.mainwrap .right .main .option .left p.title{
  float:left;
  height:0.3rem;
  width:0.7rem;
  color:white;
  text-align: center;
  font-size:0.16rem;
  line-height: 0.3rem;
  background-color:#d2222c;
  margin:0.1rem 0.2rem 0 0.3rem;
}
.mainwrap .right .main .option .left a{
  float:left;
  height:0.5rem;
  color:#333333;
  font-size:0.16rem;
  line-height: 0.5rem;
}
.mainwrap .right .main .option .left a.current{
  color:#d2222c;
}
.mainwrap .right .main .option .right{
  overflow: hidden;
  color:#333333;
}
.mainwrap .right .main .option .right a{
  display: inline-block;
  color:#333333;
  margin-right:1em;
  line-height: 0.5rem;
}
.mainwrap .right .main .option .right a:hover{
  color:#d2222c;
}
.mainwrap .right .main .option .right a.current{
  color:#d2222c;
}
.mainwrap .right .main .items{
  margin-top:0.1rem;
}
.mainwrap .right .main .items .cards{
  width:100%;
  height:auto;
}
.mainwrap .right .main .items .cards li{
  width:100%;
  height:1.6rem;
  border:1px solid #dcdcdc;
  margin-bottom:0.05rem;
  transition:all 0.3s;
}
.mainwrap .right .main .items .cards li:hover{
  margin-left:0.05rem;
}
.mainwrap .right .main .items .cards li:hover .content p.title{
  color:#d2222c;
}
.mainwrap .right .main .items .cards li .img{
  float:left;
  width:2rem;
  height:100%;
  border:1px solid #dcdcdc;
  border:0.1rem solid white;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat; 
  /*background-color: red; */
}
.mainwrap .right .main .items .cards li .content{
  overflow: hidden;
  height:100%;
  padding:0 0.1rem;
}
.mainwrap .right .main .items .cards li .content p.title{
  overflow: hidden;
  height:0.6rem;
  line-height: 0.6rem;
  border-bottom:2px dotted #999999;
  font-size:0.2rem;
  color:#000;
}
.mainwrap .right .main .items .cards li .content p.text{
  overflow: hidden;
  height:0.85rem;
  padding-top:0.1rem;
  line-height: 0.25rem;
  font-size:0.16rem;
  color:#999;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}