@import url(../common/common.css);
@import url(../common/hearder.css);
@import url(../common/footer.css);
@import url(../common/nav.css);
@import url(../common/breadcrumb.css);
@import url(../common/asideNav.css);
@import url(../common/recommend.css);
@import url(../common/paging.css);
.mainwrap .left .asideNav ul li {
  letter-spacing: 0;
  text-align: left;
  padding-left: 0.8rem; }

.mainwrap .right .main ul {
  width: 100%;
  height: auto; }

.mainwrap .right .main ul li {
  display: block;
  height: 0.45rem;
  line-height: 0.45rem;
  font-size: 0.16rem;
  color: #666;
  position: relative;
  padding-right: 1rem;
  padding-left: 0.2rem; }

.mainwrap .right .main ul li:before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #666;
  position: absolute;
  top: 50%;
  margin-top: -2.5px;
  left: 0; }

.mainwrap .right .main ul li a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 0.45rem;
  display: block;
  height: 0.45rem;
  /*color:#666;*/
  font-size: 0.16rem; }

.mainwrap .right .main ul li:hover {
  color: #d2222c; }

.mainwrap .right .main ul li:hover:before {
  background-color: #d2222c; }

.mainwrap .right .main ul li span.updatatime {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1rem;
  text-align: right;
  color: #b0b0b0;
  font-size: 0.16rem; }

.mainwrap .right p.title {
  display: none; }
