@import url(../common/common.css);
@import url(../common/hearder.css);
@import url(../common/footer.css);
@import url(../common/nav.css);
@import url(../common/breadcrumb.css);
@import url(../common/asideNav.css);
@import url(../common/recommend.css);
@import url(../common/paging.css);

.mainwrap .right .main .mapwrap{
  width:100%;
  height:3.2rem;
  margin:0.2rem 0;
}
.mainwrap .right .main .contact{
  width:100%;
}
.mainwrap .right .main .contact p.title{
  overflow: hidden;
  height:0.46rem;
  line-height: 0.46rem;
  border-bottom:1px dotted #999999;
  font-size:0.18rem;
  color:#000;
}
.mainwrap .right .main .contact .contactbox{
  overflow: hidden;
  width:auto;
  padding:0.15rem 0;
  margin-bottom:-0.7rem;
}
.mainwrap .right .main .contact .contactbox p{
  float:left;
  width:50%;
  line-height: 0.3rem;
  font-size:0.16rem;
  color:#666;
  text-align: left;
}
.mainwrap .right .main .contact .contactbox p.full{
  width:100%;
}