@import url(../common/common.css);
@import url(../common/hearder.css);
@import url(../common/footer.css);
@import url(../common/nav.css);
@import url(../common/breadcrumb.css);
@import url(../common/asideNav.css);
@import url(../common/recommend.css);
@import url(../common/paging.css);
.mainwrap .right {
    padding: 0 0.12rem;
    .title {
        display: none;
        &.active {
            display: block;
        }
    }
}

// 娄烦旅游开始
.mainwrap .right .main ul {
    width: 100%;
    height: auto;
    display: none;
    margin-top: 0.1rem;
    li {
        width: 100%;
        height: 1.6rem;
        border: 1px solid #dcdcdc;
        padding: 0.1rem 0.07rem 0.1rem 0.07rem;
        margin-bottom: 0.05rem;
        &:hover {
            a {
                .main_font {
                    .main_title {
                        p {
                            color: #d2222c;
                        }
                    }
                }
            }
        }
        a {
            img {
                width: 2rem;
                height: 100%;
                float: left;
            }
            .main_font {
                width: 5.3rem;
                height: 100%;
                float: right;
                .main_title {
                    width: 100%;
                    height: 0.44rem;
                    border-bottom: 1px dashed #d7d7d7;
                    margin-bottom: 0.17rem;
                    p {
                        font-size: 0.2rem;
                        color: black;
                    }
                }
                .main_font_content {
                    width: 100%;
                    height: 0.73rem;
                    p {
                        color: #999;
                        font-size: 0.16rem;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        overflow: hidden;
                        line-height: 1.6;
                    }
                }
            }
        }
    }
}

// 娄烦旅游结束
// 娄烦概括开始
.mainwrap .right .main .survey {
    width: 100%;
    height: auto;
    padding: 0.2rem 0.1rem 0;
    .survey_title {
        width: 100%;
        height: 2.45rem;
        border-bottom: 1px dashed #d7d7d7;
        padding-bottom: 0.1rem;
        margin-bottom: 0.1rem;
        .survey_title_img {
            width: 3.44rem;
            height: 1.92rem;
            background-color: #eeeeee;
            padding: 0.05rem;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
            margin: 0 auto;
            margin-bottom: 0.1rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
        p {
            width: 100%;
            height: auto;
            text-align: center;
            font-size: 0.18rem;
            color: #333;
        }
    }
    .survey_font {
        width: 100%;
        height: auto;
        p {
            text-indent: 2em;
            font-size: 0.16rem;
            color: #666;
            margin-bottom: 0.05rem;
            line-height: 2;
        }
    }
}

// 娄烦概括结束