.breadcrumb{
	width:12rem;
	height:0.5rem;
	margin:0.2rem auto 0;
	background:#eeeeee;
}
.breadcrumb p{
	height:0.5rem;
	line-height: 0.5rem;
	font-size:0.18rem;
	color:#727272;
}
.breadcrumb p span.breadcrumbIcon{
	width:0.5rem;
	height:0.5rem;
	/*display:inline-block;*/
	float:left;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
}
.breadcrumb p span.breadcrumbIcon2{
	float:left;
	width:0.18rem;
	height:0.5rem;
	display:inline-block;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
	margin:0 0.01rem;
}
.breadcrumb p a{
	font-size:inherit;
	color:inherit; 
	float:left;
	font-size:0.18rem;
}
.breadcrumb p span{
	font-size:inherit;
	color:inherit; 
	float:left;
	font-size:0.18rem;
}
.breadcrumb p a.current{
	font-size:inherit;
	color:#d2222c; 
	cursor:default;
}
/*偷懒写点公用的样式*/
.mainwrap{
	width:12rem;
	height:auto;
	margin:0.2rem auto 0;
	overflow: hidden;
}
.mainwrap >.left{
	width:3.9rem;
	height:auto;
	float:left;
}
.mainwrap >.right{
	overflow: hidden;
	width:auto;
	height:auto;
	margin-left:4.1rem;
	border:1px solid #dcdcdc;
	background-color:white;
	padding:0 0.2rem;
	position:relative;
}
.mainwrap >.right >p.title{
	border-bottom:1px solid #d4d4d4;
	background-color:white;
	height:0.7rem;
	line-height:0.7rem;
}
.mainwrap .right p.title.active{
	display:block;
}
.mainwrap >.right >p.title span{
	padding-left:0.14rem;
	border-left:4px solid #666;
	height:0.18rem;
	line-height:0.7rem;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color:#666;
	font-size:0.18rem;
}
.mainwrap >.right >.main{
	padding:0.05rem 0 0.7rem;
}
html{
	overflow-y:scroll; 
}
.amap-logo{
	display: none!important;
}
.amap-copyright{
	display: none!important;
}