@charset "UTF-8";
body,
ol,
ul,
li,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
a,
img {
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
    font-family: "微软雅黑";
    text-decoration: none;
    font-size: 0.14rem;
}


/*input {
  border: none; }
*/

.cir {
    display: inline-block;
    width: 0.04rem;
    height: 0.04rem;
    background-color: #c41c0e;
    border-radius: 50%;
}

a:hover,
a:focus,
a:active,
a:visited {
    text-decoration: none;
}

img {
    border: none;
}

html {
    /*overflow-y: scroll; */
    min-height: 100%;
}

body {
    min-height: 100%;
}

* {
    box-sizing: border-box;
    /*font-size: 12px;*/
}

.oth {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
    color: inherit;
}

label {
    font-weight: normal;
}

.clear {
    clear: both;
}


/*主框架切分布局*/

html {
    font-size: 100px;
}

@media screen and (max-width:1367px) {
    html {
        font-size: 71.1458px;
    }
}

@media screen and (min-width:1367px) and (max-width:1800px) {
    html {
        font-size: 82.4479px;
    }
}

@media screen and (min-width: 1800px) and (max-width: 1920px) {
    html {
        font-size: 100px;
    }
}