.foot {
  width: 100%;
  height: 2.95rem;
  background-image: url(../../image/all/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%;
  margin-top: 0.2rem; }

.foot .foot1 {
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.foot .foot1 .foot_up {
  width: 100%;
  border-bottom: 1px solid white; }

.foot .foot1 .footer_font {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.14rem;
  color: #dddddd; }

.foot .foot1 .foot_content {
  width: 12rem;
  height: 2.4rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0.45rem 0 0 0;
  padding-bottom: 0.16rem; }

.foot .foot1 .foot_content li {
  display: inline-block;
  overflow: hidden; }

.foot .foot1 .foot_content .about {
  width: 2.82rem;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid #666666;
  padding-top: 0.2rem; }

.foot .foot1 .foot_content .about p {
  font-size: 0.3rem;
  color: #e7141a; }

.foot .foot1 .foot_content .about .call {
  color: white; }

.foot .foot1 .foot_content .about .call span {
  color: #e7141a; }

.foot .foot1 .foot_content .about .phone {
  font-size: 0.14rem;
  color: white; }

.foot .foot1 .foot_content .about .youxiang {
  margin-top: 0.15rem; }

.foot .foot1 .foot_content .about_font {
  text-align: justify;
  width: 5.97rem;
  padding-left: 1rem;
  height: 100%;
  color: #999999;
  box-sizing: border-box;
  padding-top: 0.36rem;
  font-size: 0.18rem;
  line-height: 0.35rem; }

.foot .foot1 .foot_content .about_font:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  line-height: 0; }

.foot .foot1 .foot_content .about_font .about_font_list {
  display: inline-block;
  overflow: hidden;
  width: auto;
  height: 100%;
  margin-right: 0.7rem; }

.foot .foot1 .foot_content .about_font .about_font_list h1 {
  font-size: 0.18rem;
  color: white;
  font-weight: normal; }

.foot .foot1 .foot_content .about_font .about_font_list a {
  font-size: 0.18rem;
  color: white; }

.foot .foot1 .foot_content .about_font .about_font_list a:hover {
  color: white; }

.foot .foot1 .foot_content .about_re {
  width: 2.27rem;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.18rem;
  color: #dcdcdc;
  padding-top: 0.1rem;
  float: right; }

.foot .foot1 .foot_content .about_re .about_re_top {
  width: auto;
  height: auto;
  text-align: center; }
  .foot .foot1 .foot_content .about_re .about_re_top img {
    width: 1.07rem;
    height: 1.07rem; }

.foot .foot1 .foot_content .about_re .about_re_xian {
  width: 1.08rem;
  height: 0.02rem;
  margin: 0 auto;
  margin-top: 0.05rem;
  background-color: #DEDEDE; }

.foot .foot1 .foot_content .about_re .about_re_bottom {
  font-size: 0.18rem;
  text-align: center;
  margin-top: 0.05rem; }

.foot .foot_foot {
  width: 100%;
  height: 0.47rem;
  background-color: #212121;
  font-size: 0.14rem;
  color: #999999;
  text-align: center;
  line-height: 0.47rem; }
