body {
  font-size: 16px; }

.nav_box {
  width: 100%;
  height: 0.67rem;
  position: relative; }
  .nav_box .nev_back {
    background-color: #d30707;
    width: 100%;
    height: 0.6rem;
    position: absolute;
    z-index: -1; }
  .nav_box .nav {
    width: 12rem;
    height: 100%;
    margin: 0 auto;
    font-size: 0; }
    .nav_box .nav li {
      width: 1.06rem;
      height: 0.6rem;
      line-height: 0.76rem;
      display: inline-block;
      margin-right: 0.27rem;
      padding-left: 0.17rem;
      position: relative;
      top: -0.07rem; }
      .nav_box .nav li:last-child {
        margin: 0; }
      .nav_box .nav li:hover {
        background-image: url(../../images/all/hearder.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left; }
        .nav_box .nav li.current {
        background-image: url(../../images/all/hearder.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left; }
      .nav_box .nav li a {
        color: white;
        font-size: 0.2rem; }
        .nav_box .nav li a span {
          width: 100%;
          height: 90%;
          border-bottom: 3px solid transparent;
          display: inline-block; }
