.recommend{
	width:100%;
	height:auto;
	border:1px solid #dcdcdc;
	margin-top:0.2rem;
}
.recommend p.title{
	height:0.7rem;
	line-height:0.7rem;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-left:0.2rem;
}
.recommend p.title span{
	padding-left:0.14rem;
	border-left:4px solid #d2222c;
	height:0.18rem;
	line-height:0.7rem;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color:#d2222c;
	font-size:0.18rem;
}
.recommend ul{
	width:3.5rem;
	height:auto;
	margin:0.2rem auto;
}
.recommend ul li{
	width:100%;
	height:0.42rem;
	line-height: 0.42rem;
	text-align: left;
	font-size:0.18rem;
	color:#000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.recommend ul li a:hover{
	color:#d2222c;
}
.recommend ul li a:hover:before{
	background:#d2222c;
}
.recommend ul li a{
	position:relative;
	padding-left:2em;
	font-size:0.18rem;
}
.recommend ul li a:before{
	content:'';
	width:5px;
	height:5px;
	border-radius: 50%;
	position:absolute;
	top:50%;
	margin-top:-2.5px;
	background:#000;
	left:0;
}
